.Price-Desc{
    background-color: var( --bg-main);
    width: 300px;
    height: 500px;
    /* height: auto; */
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border:1px solid var(--border-color);
    transition: .3s ease-in-out;



    h1{
        font-size: 2rem;
    }

    p{
        font-size: large;
        line-height: 40px;
    }

    /* h3{
        color: var(--text-muted);
    } */
}

/* .Price-Desc button{
    position: relative;
    
} */

.Price-Desc:hover{
    border: 2px solid var(--color-primary);
    transform: scale(1.05);
}