.Testimonial-section{
    border-bottom: 2px solid var(--border-color) ;
    padding: 50px;


    
    h1{
        color: var(--text-muted);
        margin-bottom: 30px;
    }
}



.Testimonial-Container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* .Test-cards{
    display: flex;
    flex-wrap: wrap;
} */